@model IEnumerable<MC.Internal.DevOps.Presentation.UI.MCWebApp.Models.EnvironmentViewModel>

@{
    ViewBag.Title = "Environments";
}

<h2>Environments</h2>


@Html.Action("EnvironmentGridViewPartial")
